@import url('https://rsms.me/inter/inter.css');

html,
body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: var(--jumbotron-padding-y);
  padding-top: var(--jumbotron-padding-y);
  position: relative;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    padding-top: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* CUSTOM CSS STYLES MODIFIED BY JPG */
a {
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  color: #4285f4;
  transition: .3s;
}

a:hover {
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  color: #ffffff;
  transition: .3s;
}

.container-fluid .row:nth-child(even) {
  /* FIX PERSONALIZADO */
  background: transparent !important;
}

.container-fluid {
  background: transparent !important;
  background-color: transparent !important;
}

.sectionHeadline {
  color: rgb(22, 22, 22);
  font-size: 28px;
  font-weight: 800;
  text-shadow: 1px 1px 2px #dddddd;
}

.sectionHeadlineSecondary {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #dddddd;
}

.mySkills-name {
  color: #4285f4;
  font-size: large;
  font-weight: 700;
  margin: .3em 0 .5em 0 !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
}

.mySkills-desc {
  color: #212121;
  font-weight: bold;
  white-space: nowrap !important;
}

@media (max-width: 1100px) {
  .container-mySkills {
    display: unset !important;
    justify-content: unset !important;
  }
}

.mainSection {
  position: relative;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    table-layout: fixed;
  }
}

.footer {
  background-color: #212121f6;
}

.navbar {
  background-color: #212121f6;
  filter: bagkcround-color blur(2px);
  border-radius: 8px;
  left: 9px;
  position: fixed;
  right: 9px;
  top: 9px;
  width: auto;
}

.nav-logo:hover {
  -webkit-filter: #03a9f4(100%);
  color: #03a9f4;
  filter: #03a9f4;
  text-decoration: none;
}

.nav-link {
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  font-size: 120% !important;
  font-weight: 700 !important;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.nav-link:hover {
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  color: #ffffff !important;
  letter-spacing: 0.8px;
  text-align: center;
  text-decoration: none;
  transition: .4s;
}

.card {
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  border-radius: 6px;
  transition: .3s;
}

.card:hover {
  -moz-transform: translate(0px, -3px);
  -moz-transition: .3s;
  -ms-transform: translate(0px, -3px);
  -ms-transition: .3s;
  -o-transform: translate(0px, -3px);
  -o-transition: .3s;
  -webkit-transform: translate(0px, -3px);
  -webkit-transition: .3s;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(109, 109, 109, 0.2), 0 6px 20px 0 rgba(109, 109, 109, 0.19);
  transform: translate(0px, -3px);
  transition: .3s;
}

.card-aboutme>div {
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  -webkit-transition: .4s;
  background-color: white;
  border-radius: 6px;
  height: 170px;
  opacity: 0;
  transition: .4s;
}

.card-aboutme:hover>div {
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  -webkit-transition: .4s;
  background-color: white;
  border-radius: 6px;
  opacity: 0.9;
  transition: .4s;
}

.card-aboutme>div>p {
  opacity: 0;
}

.card-aboutme:hover>div>p {
  opacity: 1;
  color: black;
}

.card-img-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-img-bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#bgImage {
  height: -webkit-fill-available;
  object-fit: fill;
  overflow: hidden;
  position: fixed;
  right: 0px;
  top: 0%;
  width: 100%;
  z-index: -100;
}

.profilePicture {
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  height: 175px;
  object-fit: cover;
  transition: .3s;
  width: 308px;
}

.profilePicture:hover {
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  height: 308px;
  object-fit: cover;
  transition: .3s;
  width: 308px;
}

@media (max-width: 568px) {
  .profilePicture {
    height: 160px;
    width: 285px;
  }

  .profilePicture:hover {
    height: 285px;
    width: 285px;
  }
}

@media (max-width: 768px) {
  .scrollDown {
    height: 30% !important;
    width: 30% !important;
  }

  #bgVideo {
    left: -100% !important;
    width: unset !important;
  }

  #presentation {
    text-align: center !important;
  }

  #desktopText {
    visibility: hidden;
  }
}

.modal-content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.row {
  margin-bottom: 0;
  padding-bottom: 0;
}


/* ALGUNOS RECURSOS DE MATERIALIZE CSS */
.materialboxed {
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity .4s;
  backface-visibility: hidden;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  display: block;
  position: relative;
  transition: opacity .4s;
}

.materialboxed:hover:not(.active) {
  opacity: .8;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

#materialbox-overlay {
  background-color: #292929;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  will-change: opacity;
  z-index: 1000;
}

.materialbox-caption {
  -webkit-font-smoothing: antialiased;
  bottom: 0;
  color: #fff;
  display: none;
  height: 50px;
  left: 0;
  line-height: 50px;
  padding: 0% 15%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

/* BOOTSTRAP botones redondeados */
.btn-round {
  font-weight: 700;
  border-radius: 50px !important;
  padding-bottom: 0.84rem;
  padding-left: 2.14rem;
  padding-right: 2.14rem;
  padding-top: 0.84rem;
  padding: .84rem 2.14rem;
  transition: 300ms;
}

.btn-round:hover {
  box-shadow: 0 .15rem .65rem #4286f4a9 !important;
  transform: translateY(-4px);
  transition: 300ms;
}

.btn-materialblue {
  background: #4285f4 !important;
  color: #fff !important;
}

/* JPG preloader */
.loader {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  align-items: center;
  background-color: #fff;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999999;
}

.loaderAnimation {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 320px;
}