<div class="container text-center">

<div class="align-items-center text-center" role="group">
<span class="badge badge-pill robotoMono btn-materialblue" data-aos="zoom-out" data-aos-delay="100" data-aos-duration="800">Java</span>&nbsp;
<span class="badge badge-pill robotoMono btn-materialblue" data-aos="zoom-out" data-aos-delay="200" data-aos-duration="800">Python</span>&nbsp;
<span class="badge badge-pill robotoMono btn-materialblue" data-aos="zoom-out" data-aos-delay="300" data-aos-duration="800">HTML/CSS</span>&nbsp;
<span class="badge badge-pill robotoMono btn-materialblue" data-aos="zoom-out" data-aos-delay="400" data-aos-duration="800">Spring Framework</span>&nbsp;
<span class="badge badge-pill robotoMono btn-materialblue" data-aos="zoom-out" data-aos-delay="500" data-aos-duration="800">Django Framework</span>&nbsp;
</div>

<div class="align-items-center text-center" role="group">
<span class="badge badge-pill badge-info robotoMono" data-aos="zoom-out" data-aos-delay="1000" data-aos-duration="800">Git</span>&nbsp;
<span class="badge badge-pill badge-info robotoMono" data-aos="zoom-out" data-aos-delay="900" data-aos-duration="800">Bootstrap</span>&nbsp;
<span class="badge badge-pill badge-info robotoMono" data-aos="zoom-out" data-aos-delay="800" data-aos-duration="800">Oracle SQL/MySQL</span>&nbsp;
<span class="badge badge-pill badge-info robotoMono" data-aos="zoom-out" data-aos-delay="700" data-aos-duration="800">Flutter Framework</span>&nbsp;
</div>

<div class="align-items-center text-center" role="group">
<span class="badge badge-pill badge-primary robotoMono" data-aos="zoom-out" data-aos-delay="1100" data-aos-duration="800">Adobe Photoshop</span>&nbsp;
<span class="badge badge-pill badge-primary robotoMono" data-aos="zoom-out" data-aos-delay="1200" data-aos-duration="800">Adobe Premiere</span>&nbsp;
</div>

</div>

<br><br>

<div class="row" style="align-items: center;">
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">Me apasiona el mundo del diseño aplicado a las nuevas
                    tecnologías. La experiencia de usuario y la interfaz son
                    componentes muy importantes en los productos que manejamos a diario, pudiendo condicionarse
                    completamente el éxito de cualquier proyecto o producto.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">Soy perfeccionista con mi trabajo y sobre todo cuando se
                    trata de algo con lo que van a interactuar otras personas. Quiero todo medido y ajustado. Puedo
                    pasar horas simplemente arreglando un botón. Quiero que el usuario final tenga una experiencia
                    genial.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">Me encantan los videojuegos y cómo han avanzado gráficamente
                    y en experiencias estos años, todo lo relacionado con
                    tecnología y con respecto a esta, en especial, los dispositivos móviles. La fotografía y la música
                    también me despiertan mucho interés.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">No puedo vivir sin música. Me encanta
                    en cualquiera de sus géneros, pero por el que más me decanto es por la electrónica y muchos de
                    sus sub-géneros.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">Me considero una persona respetuosa, creativa,
                    resolutiva,
                    proactiva, muy sociable, comunicativa y abierta. Conmigo se puede hablar con tranquilidad de
                    absolutamente todo.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">Me encanta salir, la gastronomía y probar tapas nuevas,
                    la cerveza, el vino y los licores, salir a conocer lugares
                    nuevos y por supuesto hacer todo esto acompañado de mis amigos.</p>
            </div>
        </div>
    </div>

</div>