<div class="align-items-center text-center" role="group">
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-materialblue disabled" data-aos="zoom-out" data-aos-delay="100" data-aos-duration="800">Java</button>&nbsp;
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-materialblue disabled" data-aos="zoom-out" data-aos-delay="200" data-aos-duration="800">Spring Framework</button>&nbsp;
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-materialblue disabled" data-aos="zoom-out" data-aos-delay="300" data-aos-duration="800">Python</button>&nbsp;
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-materialblue disabled" data-aos="zoom-out" data-aos-delay="400" data-aos-duration="800">Django Framework</button>&nbsp;
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-materialblue disabled" data-aos="zoom-out" data-aos-delay="500" data-aos-duration="800">HTML + CSS</button>&nbsp;
</div>

<div class="align-items-center text-center" role="group">
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-dark disabled" data-aos="zoom-out" data-aos-delay="800" data-aos-duration="800">Bootstrap</button>&nbsp;
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-dark disabled" data-aos="zoom-out" data-aos-delay="700" data-aos-duration="800">Material Design</button>&nbsp;
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-dark disabled" data-aos="zoom-out" data-aos-delay="600" data-aos-duration="800">Flutter Framework</button>&nbsp;
</div>

<div class="align-items-center text-center" role="group">
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-primary disabled" data-aos="zoom-out" data-aos-delay="900" data-aos-duration="800">Adobe Photoshop</button>&nbsp;
<button style="pointer-events: none;" type="button" class="btn btn-raised btn-round btn-primary disabled" data-aos="zoom-out" data-aos-delay="1000" data-aos-duration="800">Adobe Premiere</button>&nbsp;
</div>