<div class="align-items-center text-center" role="group">
<button type="button" class="btn btn-raised btn-round btn-materialblue">Java</button>&nbsp;
<button type="button" class="btn btn-raised btn-round btn-materialblue">Spring Framework</button>&nbsp;
<button type="button" class="btn btn-raised btn-round btn-materialblue">Python</button>&nbsp;
<button type="button" class="btn btn-raised btn-round btn-materialblue">Django Framework</button>&nbsp;
<button type="button" class="btn btn-raised btn-round btn-materialblue">HTML + CSS</button>&nbsp;
</div>

<div class="align-items-center text-center" role="group">
<button type="button" class="btn btn-raised btn-round btn-dark">Bootstrap</button>&nbsp;
<button type="button" class="btn btn-raised btn-round btn-dark">Material Design</button>&nbsp;
<button type="button" class="btn btn-raised btn-round btn-dark">Cupertino</button>&nbsp;
<button type="button" class="btn btn-raised btn-round btn-dark">Flutter Framework</button>&nbsp;
</div>

<div class="align-items-center text-center" role="group">
<button type="button" class="btn btn-raised btn-round btn-primary">Adobe Photoshop</button>&nbsp;
<button type="button" class="btn btn-raised btn-round btn-primary">Adobe Premiere</button>&nbsp;
</div>