<footer class="bg-greyblack text-center" style="padding-top:2%; padding-bottom:1%;">
    <p class="text-white"><span style="text-shadow: 0 0 6px #000000;">2019 · Juan Pablo González<br></span>
    </p>
    <p class="text-muted">
        <span style="text-shadow: 0 0 6px #000000;">
            Desarrollada con todo mi ❤️
            <br>
            y una pizca de creatividad.
            <br>
        </span>
    </p>
    <p class="text-muted" style="font-size: 12px;">
        <span style="text-shadow: 0 0 6px #000000;">
            <i>Source code available <a href="https://github.com/JuanpaG94/jpg" target="_blank">on my GitHub</a>
                under MIT license.</i>
        </span>
    </p>
</footer>