<nav class="navbar navbar-expand-lg navbar-dark bg-greyblack" data-aos="fade-down" data-aos-delay="1300" data-aos-duration="500">
    <a class="navbar-brand d-flex align-items-center robotoMono" href="#pageTop">
      &nbsp;<img src="img/accountwhite.png" width="28" height="28" alt="">&nbsp;JPGG&nbsp;
    </a>
    <button class="navbar-toggler collapsed" style="border-color: transparent !important;" type="button" data-toggle="collapse"
      data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="img/menu.png" width="28" height="28" alt=""></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#sobremi">&nbsp;&nbsp;&nbsp;Sobre mí&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#trayectoria">&nbsp;&nbsp;&nbsp;Experiencia&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">&nbsp;&nbsp;&nbsp;Portfolio&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#fotografia">&nbsp;&nbsp;&nbsp;Fotografía&nbsp;&nbsp;&nbsp;</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0 d-flex align-items-center">
        <a class="nav-logo" href="http://www.infojobs.net/juanpablo-gonzalez-8.prf">&nbsp;&nbsp;<img src="img/infojobs.png"
            width="46%" height="46%" alt="Mi perfil de InfoJobs"></a>
        <a class="nav-logo" href="#"><img src="img/linkedin.png" width="58%" height="58%" alt="Sígueme en LinkedIn"></a>
        <a class="nav-logo" href="https://github.com/juanpag94"><img src="img/github-circle.png" width="58%" height="58%"
            alt="Mi perfil de GitHub"></a>
        <!--<a class="nav-logo" href="#"><img src="img/instagram.png" width="58%" height="58%"
            alt="Sígueme en Instagram"></a>-->
      </form>
    </div>
  </nav>