<nav class="navbar navbar-expand-lg navbar-dark" data-aos="fade-down" data-aos-delay="1800" data-aos-duration="520">
    <a class="navbar-brand d-flex align-items-center" href="#pageTop">
      &nbsp;<img src="img/accountwhite.png" width="28" height="28" alt="" style="border-radius: 50%; object-fit: cover;">&nbsp;
    </a>
    <button class="navbar-toggler collapsed" style="border-color: transparent !important;" type="button" data-toggle="collapse"
      data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="img/menu.png" width="28" height="28" alt=""></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarMainMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#sobremi">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#trayectoria">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#fotografia">Fotografía</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0 d-flex align-items-center">
        <!--<a class="nav-logo" target="blank_" href="#">&nbsp;&nbsp;
        	<img src="img/infojobs.png" width="43%" height="43%" alt="Mi perfil de InfoJobs"></a>-->
        <a class="nav-logo" target="blank_" href="https://www.linkedin.com/in/juan-pablo-gonzalez-gonzalez">
        	<img src="img/linkedin.png" width="58%" height="58%"></a>
        <a class="nav-logo" target="blank_" href="https://github.com/juanpag94">
        	<img src="img/github-circle.png" width="58%" height="58%"></a>
        <!--<a class="nav-logo" href="#"><img src="img/instagram.png" width="58%" height="58%"
            alt="Sígueme en Instagram"></a>-->
      </form>
    </div>
  </nav>