<div class="row">
    <!-- GALERIA DE FOTOS -->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top card-img-bottom materialboxed" src="img/photos/foto1.jpg">
        </div>
    </div>
    <!-- FOTO 2 -->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top card-img-bottom materialboxed" src="img/photos/foto2.jpg">
        </div>
    </div>
    <!-- FOTO 3 -->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top card-img-bottom materialboxed" src="img/photos/foto3.jpg">
        </div>
    </div>
    <!-- FOTO 4 -->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top card-img-bottom materialboxed" src="img/photos/foto4.jpg">
        </div>
    </div>
    <!-- FOTO 5 -->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top card-img-bottom materialboxed" src="img/photos/foto5.jpg">
        </div>
    </div>
    <!-- FOTO 6 (ALL) -->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/photos/morePhotos.jpg">
            <div class="card-body">
                <p class="card-text">Tengo muchas más fotos impresionantes como estas. ¡Si quieres ver todas, visita mi
                    álbum
                    en Google Fotos!</p>
                <a href="https://goo.gl/photos/GhBZtJ3QP9zfk7fW7" target="_blank" class="btn btn-raised btn-info my-2">Ver
                    más
                </a>
            </div>
        </div>
    </div>
    <!-- FIN COL-->
</div>