<div class="row">
    <!--CARD PORTFOLIO 1-->
    <div class="col-md-4" data-aos="fade-right" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/web/thumb_homely.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Homely"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">Homely es una aplicación web en Python + Django para la
                    asignatura
                    Ingeniería del
                    Software
                    y Práctica Profesional en la US.</p>
                <div class="justify-content-center">
                    <a class="btn btn-raised btn-materialblue btn-round d-flex justify-content-center align-items-center"
                        href="#" data-target="#modalHomely" data-toggle="modal"><img src="img/open-in-app.png" height="22"
                            width="22">&nbsp;&nbsp;Ver
                        más</a>
                </div>
            </div>
        </div>

        <!--MODAL 1-->
        <div class="modal fade" id="modalHomely" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Homely: Servicios domésticos</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top" src="img/web/thumb_homely.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Homely"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-dark">Homely es una aplicación web desarrollada en Python y Django
                                Framework.
                                <br>Consiste en una plataforma de búsqueda y contratación de servicios domésticos.
                                <br><br>Este proyecto se realizó simulando el nacimiento, progreso, trabajo y
                                lanzamiento de una
                                StartUp, con su posterior presentación ante profesores y algunas empresas que
                                asistieron al evento
                                StartUS, celebrado en la Escuela Técnica Superior de Ingeniería Informática.
                                <br><br>Tecnologías: Python 3, Django Framework, Bootstrap, Travis CI, Heroku,
                                Visual Studio Code.<br>
                                <p class="text-muted" style="font-size: 80%">*Como dato de interés: todo el apartado
                                    visual de Homely(front-end) fue diseñado por mí en su totalidad. ¡Cuántas horas hay
                                    ahí! </p>
                            </p>
                        </div>
                    </div>
                    <div class="align-items-center text-center">
                        <a target="_blank" class="btn btn-raised btn-materialblue btn-round" href="https://homely-web.herokuapp.com/es/index/">
                            <img src="img/open-in-app.png" height="22" width="22">&nbsp;&nbsp;Entrar a Homely</a>

                        <a class="btn btn-raised btn-secondary btn-round" data-dismiss="modal"><img src="img/close-box-outline.png"
                                height="22" width="22">&nbsp;&nbsp;Cerrar</a>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--CARD PORTFOLIO 2-->
    <div class="col-md-4" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/web/thumb_paylist.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Acme-music"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">Paylist es una app móvil para Android/iOS. A su vez, es mi
                    Trabajo fin de grado. Actualmente se encuentra en desarrollo.
                </p>
                <div class="justify-content-center">
                    <a class="btn btn-raised btn-secondary btn-round disabled d-flex justify-content-center">Próximamente</a>
                </div>
            </div>
        </div>
    </div>

    <!--CARD PORTFOLIO 3-->
    <div class="col-md-4" data-aos="fade-left" data-aos-delay="150" data-aos-duration="1300">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/web/thumb_clustering.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Clústering"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text robotoMono text-dark">JPG Landing Page es esta página web. Hecha a mano desde la
                    línea nº 1 y pensada para mostrarte un recorrido visual de quién soy y cómo trabajo.</p>
                <div class="justify-content-center">
                    <a class="btn btn-raised btn-materialblue btn-round d-flex justify-content-center align-items-center"
                        href="#" data-target="#modalJPGlanding" data-toggle="modal"><img src="img/open-in-app.png"
                            height="22" width="22">&nbsp;&nbsp;Ver
                        más</a>
                </div>
            </div>
        </div>

        <!--MODAL 3-->
        <div class="modal fade" id="modalJPGlanding" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>JPG Landing Page</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="card-img-top" src="img/web/thumb_clustering.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Homely"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text text-dark">JPG Landing Page no es más que esta web. Hecha a mano desde
                                la línea de código nº 1 y pensada por mí, para mostrarte un recorrido visual y
                                entretenido de quién soy y cómo trabajo.<br><br>
                                Con la ayuda de unas geniales librerías de diseño web y algunos componentes JavaScript,
                                esta web, hecha con todo el mimo posible, pretende entretenerte visualmente mientras me
                                conoces, ves mis proyectos
                                públicos y mi manera de trabajar en ellos.
                                <br><br><b>¡No dudes en contactar conmigo si quieres saber algo más sobre mí!</b>
                                <br><br>Tecnologías y librerías empleadas: HTML5, CSS3, JavaScript, Bootstrap Material
                                Design 4 by FezVrasta, AOS by michalsnik, MaterializeCSS.</p>
                        </div>
                    </div>
                    <div class="align-items-center text-center">
                        <a target="_blank" class="btn btn-raised btn-materialblue btn-round" href="mailto:jpaglez.fujitsu@gmail.com">
                            <img src="img/open-in-app.png" height="22" width="22">&nbsp;&nbsp;Contacta conmigo</a>

                        <a class="btn btn-raised btn-secondary btn-round" data-dismiss="modal"><img src="img/close-box-outline.png"
                                height="22" width="22">&nbsp;&nbsp;Cerrar</a>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>