<div class="row">
    <!--CARD PORTFOLIO 1-->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/web/thumb_homely.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Homely"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Homely es un proyecto para Ingeniería del Software y Práctica Profesional en la
                    Universidad
                    de Sevilla.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a class="btn btn-raised btn-info my-2" href="#" data-target="#modalHomely" data-toggle="modal">Ver
                            más</a>
                    </div>
                    <span class="badge badge-pill badge-light">Informática</span>
                </div>
            </div>
        </div>
        <!--MODAL 1-->
        <div class="modal fade" id="modalHomely" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Homely</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <img class="card-img-top" src="img/web/thumb_homely.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Homely"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Homely es un proyecto realizado para la asignatura 'Ingeniería del
                                    Software
                                    y Práctica Profesional' en la Universidad de Sevilla.
                                    <br>Consiste en una plataforma de búsqueda y contratación de servicios domésticos.
                                    <br><br>Este proyecto se realizó simulando el nacimiento, progreso, trabajo y
                                    lanzamiento de una
                                    StartUp, con su posterior presentación ante profesores y algunas empresas que
                                    asistieron al evento
                                    StartUS, celebrado en la Escuela Técnica Superior de Ingeniería Informática.
                                    <br><br>Tecnologías: Python 3, Django Framework, Bootstrap, Travis CI, Heroku,
                                    Visual Studio Code.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer mr-auto">
                        <a target="_blank" class="btn btn-info my-2" href="https://homely-web.herokuapp.com/es/index/"><strong>Entrar
                                a Homely</strong></a>&nbsp;
                        <button type="button" class="btn btn-secondary my-2" data-dismiss="modal"><strong>Cerrar</strong></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--CARD PORTFOLIO 2-->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/web/thumb_acmemusic.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Acme-music"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Acme-Music es un Hackathon para la asignatura 'Diseño y Pruebas' en la Universidad
                    de
                    Sevilla.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-raised btn-secondary my-2 disabled">Próximamente</button>
                    </div>
                    <span class="badge badge-pill badge-light">Informática</span>
                </div>
            </div>
        </div>
    </div>

    <!--CARD PORTFOLIO 3-->
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/web/thumb_clustering.jpg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Clústering"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Clústering es un trabajo para la asignatura 'Inteligencia Artificial' en la
                    Universidad
                    de Sevilla.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-raised btn-secondary my-2 disabled">Próximamente</button>
                    </div>
                    <span class="badge badge-pill badge-light">Informática</span>
                </div>
            </div>
        </div>
    </div>

    <!-- CARD PORTFOLIO 4
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/loading.gif" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=card4"
              alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                  Card-text
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-raised btn-secondary my-2 disabled">Próximamente</button>
                </div>
                <span class="badge badge-pill badge-light">Imagen</span>
              </div>
            </div>
          </div>
        </div>

        CARD PORTFOLIO 5
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="img/loading.gif" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=card4"
              alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Card-text
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-raised btn-secondary my-2 disabled">Próximamente</button>
                </div>
                <span class="badge badge-pill badge-light">Imagen</span>
              </div>
            </div>
          </div>
        </div>

        CARD PORTFOLIO 6
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="img/loading.gif" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=card4"
              alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                  Card-text
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-raised btn-secondary my-2 disabled">Próximamente</button>
                </div>
                <span class="badge badge-pill badge-light">Multimedia</span>
              </div>
            </div>
          </div>
        </div> -->

</div>