<link href="css/timeline.css" rel="stylesheet">

<script src="https://use.typekit.net/bkt6ydm.js"></script>
<script>try { Typekit.load({ async: true }); } catch (e) { }</script>

<div class="container-fluid col-md-9">
  <div class="row timeline-row-screen">
    <div class="col-md-12 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <ul class="timeline timeline-split">
        <li class="timeline-item">
          <div class="timeline-info"> 
            <span style="color: black;">Exp. laboral</span>
          </div>
          <div class="timeline-marker" style="display: none;"></div>
          <div class="timeline-content" style="display: none;"></div>
        </li>

        <li class="timeline-item">
          <div class="timeline-info">
            <span>mar 2019 – actual.</span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <span class="timeline-title materialblue-label"><b>Full Stack Developer</b></span>
            <p><label class="robotoMono"><b>Z1 Digital Studio · Sevilla(España)</b></label><br>
              Actualmente trabajo como Full Stack Developer en Z1, creando productos digitales adaptados a las
              necesidades de nuestros clientes de Norteamérica, con las tecnologías más punteras y el mejor enfoque en
              cuanto a diseño y experiencia de usuario. Python, Django, JavaScript, HTML, CSS, VueJS, entre otras.</p>
          </div>
        </li>

        <li class="timeline-item">
          <div class="timeline-info">
            <span>abr 2017 – ago 2017</span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <span class="timeline-title materialblue-label">Full Stack Developer</span>
            <p><label class="robotoMono"><b>Fujitsu Technology Solutions · Sevilla(España)</b></label><br>
              División de Servicios para la gestión y mantenimiento de aplicaciones(Application Management Services,
              AMS). Desarrollo, mantenimiento y gestión de sistemas de información empleando las siguientes
              tecnologías: Java, Oracle SQL Developer, Apache Tomcat, Spring Framework, Hibernate, Apache Maven, JSF,
              PrimeFaces, Oracle Forms 10g, Jasper Reports, Redmine.</p>
          </div>
        </li>

        <li class="timeline-item">
          <div class="timeline-info">
            <span>dic 2015 – ene 2016</span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <span class="timeline-title materialblue-label">Empleado de ventas</span>
            <p><label class="robotoMono"><b>El Corte Inglés SA · Algeciras(España)</b></label><br>Empleado de ventas en la sección de Electrónica.
              Formación como vendedor ofrecida por el centro, empleado de venta, gestión de inventario y atención al
              cliente de cara al público en el Centro Comercial Bahía de
              Algeciras. Contrato temporal por circunstancias de la producción.</p>
          </div>
        </li>

        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
        </li>
      </ul>
    </div>
  </div>

  <br>

  <div class="row timeline-row-screen">
    <div class="col-md-12 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <ul class="timeline timeline-split">
        <li class="timeline-item">
          <div class="timeline-info">
            <span style="color: black;">Exp. académica</span>
          </div>
          <div class="timeline-marker" style="display: none;"></div>
          <div class="timeline-content" style="display: none;"></div>
        </li>

        <li class="timeline-item">
          <div class="timeline-info">
            <span>SEP 2012 - ACTUAL.</span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <span class="timeline-title materialblue-label">Grado en Ingeniería del Software</span>
            <p><label class="robotoMono"><b>Escuela Técnica Superior de Ingeniería Informática · Sevilla(España)</b></label><br>
              Estoy terminando el "Grado en Ingeniería Informática: Ingeniería del Software" en la Universidad de
              Sevilla.<br>Actualmente realizando el Trabajo Fin de Grado.</p>
          </div>
        </li>

        <li class="timeline-item">
          <div class="timeline-info">
            <span>SEP 2010 – MAY 2012</span>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <span class="timeline-title materialblue-label">Graduado en Bachiller de Ciencias y Tecnología</span>
            <p><label class="robotoMono"><b>Algeciras(España)</b></label></p>
          </div>
        </li>

        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
        </li>
      </ul>
    </div>
  </div>

</div>